.App{
  height: 100vh;
  display: flex;
  justify-content: center;
}

.todo_container{
  height: 80vh;
  margin-top: 10vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  box-shadow: -10px 10px 100px 0 #292D32;
  border-radius: 5px;
  border: .5px solid #292D32;
}

.add_todo_container{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

input[type=text] {
  border: none;
  border-bottom: .5px solid #292D32;
  font-size: 16px;
  margin-right: 10px;
}

.heading{
  width: 80%;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #292D32;
  font-size: 32px;
}

.todo_list{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  height: 50vh;
  overflow-y: auto;
}

.todo_item{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.grey_bg{
  background-color: rgba(181, 180, 180, 0.32);
  border-radius: 5px;
}